{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "none",
    "overrides": [
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2,
                "useTabs": false,
                "singleQuote": false,
                "trailingComma": "all"
            }
        }
    ]
}
